# IntelliJ Artifacts
.idea/
.idea/*/*
*.iml

# Eclipse
.classpath
.project
.settings/

dataset.txt
featureset.txt
final_dataset.arff
ionosphere.arff
first_observation.arff
output_features_2500.txt
temp.txt
target/
resources/common/tmp/
ham.txt
ionosphere.arff
output_features.txt